server {
  listen 80;
  server_name localhost;

  location / {
     proxy_pass  http://appcluster;
  }
}

upstream appcluster {
    server simpleservice_fortune_1:8080;
    server simpleservice_fortune_2:8080;
}